.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .checkout-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select,
  input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .card-element {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .card-errors {
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  .payment-button {
    background-color: #f0c14b;
    border: none;
    color: #111;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: #daa741;
  }
  