{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/cart.css' %}">
<div class="container">
    <h1>Your Cart</h1>

    <div class="cart-items">
        {% for item in items %}
        <div class="cart-item">
            <div class="item-info">
                <h3 class="item-name">{{ item.product.name }}</h3>
                <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                <span class="item-price">Price: ${{ item.product.price }}</span>
            </div>
            {% if item.product.image %}
              <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="item-image">
            {% endif %}
        </div>
        {% endfor %}
        <p class="total-price">Total Price: ${{ total_price }}</p>
    </div>
    
    <!-- Form to initiate Paystack payment -->
    <form action="{% url 'store:paystackInitiatePayment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="amount" value="{{ total_price }}">
        <button type="submit" class="checkout-button">Proceed to Checkout</button>
    </form>
</div>

<div class="continue-shopping">
    <a href="{% url 'store:home' %}" class="btn">Continue shopping</a>
</div>

{% endblock %}
