{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
      <div class="logo">
        <h1>LEGION STORE</h1>
      </div>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="{% url 'profile' %}">{{request.user}}</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
      <form class="search-bar" method="GET" action="">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      
    </nav>
  </header>

{% endblock %}