{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile_style.css' %}">
<div>
    {% if profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="No profile">
    {% endif %}
    <h4>Hello {{ profile.user }}</h4>
    <h4>Email: {{ profile.email }}</h4>
</div>
<div class="profile-container">
  <h2>Order History</h2>
  <h3>Completed Orders</h3>
  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Date Created</th>
        <th>Delivery Location</th>
      </tr>
    </thead>
    <tbody>
      {% for order in completed_orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>${{ order.total_price }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.delivery_location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Pay on Delivery Orders</h3>
  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      {% for order in pay_on_delivery_orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>${{ order.total_price }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.delivery_location }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
